/* здесь используйте глобальные переменные */
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$transition: 0.3s ease-in-out;

$black: #000000;
$light-black: #111111;
$superdark-grey: #222222;
$darken-grey: #444444;
$dark-grey: #666666;
$grey: #d3d3d3;
$light-grey: #e7e7e7;
$lighten-grey: #eaeaea;
$superlight-grey: #f2f2f2;
$white: #ffffff;
$green: #68b738;
$dark-green: #5eaa2f;
$light-red: #ff8282;

$color-accent: $green;
$color-accent-light: rgba($color-accent, 0.85);
$color-error: $light-red;
$color-bg: $superlight-grey;
$color-bg-special: $lighten-grey;
$color-text: $darken-grey;
$color-logo: $light-black;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
