.burger {
  position: relative;
  width: 24px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;

  &--active {
    .burger__line:nth-child(2) {
      opacity: 0;
    }

    .burger__line:first-child {
      left: 25%;
      top: 50%;
      transform: rotate(45deg);
      transform-origin: center;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .burger__line:last-child {
      bottom: auto;
      left: 25%;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }
  }

  &--nojs {
    visibility: hidden;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.burger__line {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;

  &:nth-child(1) {
    top: 2px;
  }

  &:nth-child(2) {
    top: 10px;
  }

  &:nth-child(3) {
    bottom: 2px;
  }
}
