.button-secondary {
  background-color: $color-bg;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 10px;
  height: min-content;
  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
  }
}
