.card-add {
  display: grid;
  grid-template-columns: 1fr;
  padding: 12px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: 470px) {
    &:first-child + .card-add {
      border-top: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 38px 27px;
    border: 1px solid #cdcdcd;
    border-top: none;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    &:first-child + .card-add {
      border-top: none;
    }
  }

  @media (min-width: 950px) {
    &:first-child + .card-add {
      border-top: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr) 27%;
    padding: 15px 0 16px;
    align-items: center;
    column-gap: 40px;
    border: none;
    border-bottom: 1px solid #cdcdcd;

    &:first-child + .card-add {
      border-top: none;
    }
  }
}

.card-add__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $superdark-grey;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.card-add__item {
  color: $color-text;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    font-size: 16px;
    margin-bottom: 22px;

    .card-add__item-name {
      margin-right: 50px;
      margin-top: 4px;
    }

    .card-add__item-value {
      margin-right: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-bottom: 0;

    .card-add__item-name {
      margin-right: 10px;
    }
  }
}

.card-add__item-value {
  line-height: 14px;
}

.card-add__button {
  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1/-2;
    max-width: 244px;
  }
}
