.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 20px 25px;
  margin: 0 -20px;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    padding: 10px 37px 40px;
    background-image: linear-gradient(180deg, $white 20%, $color-bg 20%);
    border: none;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
  }
}

.card--more {
  grid-template-columns: 1fr;
  padding-top: 78px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: $grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: $grey;
  }

  .card__title {
    width: 90%;
    color: $light-black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    background: $white;
    border: 2px solid $color-bg;
    height: 80%;
    align-self: self-end;
    padding-top: 160px;

    .card__title {
      margin-bottom: 23px;
    }

    &::before {
      top: 50px;
      height: 60px;
    }

    &::after {
      top: 80px;
      width: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;

    .card__title {
      margin-bottom: 26px;
    }
  }
}


.card__link {
  &--image {
    grid-row: 1/3;
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      grid-row: 1/2;
      grid-column: -1/1;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 12px;
    }
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $superdark-grey;
  margin: 0;
  margin-bottom: 14px;
  width: min-content;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 21px;

    span {
      display: block;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }
}

.card__image {
  display: block;
  margin: 0 auto;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.card__item {
  color: $color-text;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card__description {
  color: $color-text;
  text-align: center;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.card__button {
  grid-column: -1/1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }
}
