/*.contacts {

}

.contacts__wrapper {

}

.contacts__block {

}*/

.contacts__text {
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__adress {
  color: #444444;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
