.container {
  max-width: $desktop-width;
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}
