.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;

    &:hover {
      .developer__logo {
        color: $color-accent;
      }
    }

    &:focus {
      .developer__logo {
        color: $color-accent;
      }
    }

    &:active {
      opacity: 30%;

      .developer__logo {
        fill: $color-accent;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.developer__link {
  color: $dark-grey;
}
