.example {
  background-color: $color-bg-special;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(180deg, $white 50%, $color-bg-special 50%);
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(180deg, $white 25%, $color-bg-special 25%);
    border-top: none;
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 32% 1fr;
    row-gap: 70px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    max-width: 800px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 100%;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
    grid-template-columns: repeat(2, 22%) 1fr;
    gap: 47px;
    max-width: 800px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 42px;
  }
}

.example__item {
  text-align: center;
  padding: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  position: relative;
}

.example__item-value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-name {
  color: #444444;
  text-align: center;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
  background-color: $color-bg-special;

  @media (min-width: 500px) {
    width: max-content;
    bottom: -5px;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-bg-special;
  }
}

.example__item--one-line {
  border: none;
  padding: 0;
  grid-column: -1/1;
  align-self: center;

  span {
    font-size: 14px;
    line-height: 20px;
  }

  .example__item-name {
    position: static;
    transform: none;
    color: inherit;
    font-family: $primary-font;
    text-transform: uppercase;
    padding: 0;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    grid-column: -1/-2;
    text-align: end;

    span {
      font-size: 20px;
      line-height: 20px;
    }

    .example__item-value {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: -1/1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;

    .example__item-value {
      justify-self: center;
    }
  }
}

.example__switcher {
  @media (min-width: $desktop-width) {
    grid-column: -1/-2;
    grid-row: 1/4;
    justify-self: end;
  }
}
