.form {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 80px;
    margin-bottom: 79px;
    padding: 0;
  }

  small {
    display: block;
    text-align: center;
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      text-align: left;
      font-size: 16px;
      padding: 15px 0;
    }
  }
}

.form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    grid-column: -1/1;
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  position: relative;
  padding: 0 20px;
  margin-left: -20px;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $color-accent;
    box-shadow: 100vw 0 0 $color-accent;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: -40px;
  }
}

.form__label {
  color: $color-text;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  font-family: $primary-font;
  color: $color-text;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: 1px solid $light-grey;
  cursor: pointer;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid $dark-grey;
    outline: none;
  }

  &:invalid {
    border: 2px solid $color-error;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
  }
}

.form__input[type="radio"] {
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  appearance: none;
  width: 30px;
  height: 30px;
  margin: 0;

  &:checked {
    background-image: url("../../images/icons/radiobutton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
  }

  &:hover {
    border-color: #bababa;
  }

  &:disabled {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;

    &:checked {
      background-size: 18px;
    }
  }
}

.form__input[type="checkbox"] {
  border: 1px solid #cdcdcd;
  appearance: none;
  width: 30px;
  height: 30px;
  margin: 0;

  &:checked {
    background-image: url("../../images/icons/checkbox-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;
  }

  &:hover {
    border-color: #bababa;
  }

  &:disabled {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__textarea {
  font-family: $primary-font;
  color: $color-text;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px;
  width: 100%;
  height: 150px;
  border: 1px solid $light-grey;
  cursor: pointer;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid $dark-grey;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 175px;
    padding: 11px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 20px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.form__item {
  display: flex;
  align-items: center;
  gap: 13px;
}

.form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 284px;
    margin: 0;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 0;
  }
}

.form__fieldset--cat-info {
  border: none;
  margin-bottom: 24px;

  .form__label {
    max-width: 35%;
    flex-shrink: 0;
  }

  .form__input {
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.form__fieldset--target {
  padding: 22px 0 19px;
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    box-shadow: 100vw 0 0 #d9d9d9;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    box-shadow: 100vw 0 0 #d9d9d9;
  }

  .form__list {
    gap: 13px;
  }

  .form__item {
    justify-content: start;
    gap: 15px;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 23px 27px 27px;
    margin-bottom: 65px;
    border: 1px solid $light-grey;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    padding: 25px 28px;
    margin-bottom: 0;
  }
}

.form__fieldset--owner-info {
  margin-bottom: 24px;

  .form__title {
    margin-bottom: 35px;
    width: min-content;

    @media (min-width: 410px) {
      width: fit-content;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 76px;
    }
  }

  .form__item {
    flex-direction: row-reverse;
    position: relative;
  }

  .form__label {
    max-width: 35%;
    flex-shrink: 0;

    &::after {
      content: "";
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      position: absolute;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $superdark-grey;
      width: 17px;
      height: 15px;
    }

    &--email::after {
      mask-image: url("../../images/icons/stack.svg#icon_email");
    }

    &--tel::after {
      mask-image: url("../../images/icons/stack.svg#icon_phone");
    }

    &:hover::after {
      background-color: $color-accent;
    }

    &:focus::after {
      background-color: $color-accent;
    }
  }

  .form__input {
    flex-grow: 1;
    padding-right: 40px;

    &:hover + .form__label::after {
      background-color: $color-accent;
    }

    &:focus + .form__label::after {
      background-color: $color-accent;
    }

    &:invalid + .form__label::after {
      background-color: $color-error;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 81px 20px;
    margin-bottom: 0;
  }
}

.form__fieldset--comment {
  margin-bottom: 23px;

  .form__title {
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 78px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__fieldset--add-info {
  margin-bottom: 34px;

  .form__title {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }
  }

  .form__list {
    gap: 13px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 80px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 80px;
    }
  }

  .form__item {
    gap: 15px;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }
}
