.hero {
  background-image: linear-gradient(360deg, $white 45%, $color-accent-light 45%), url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: $white;

  @media (min-width: $tablet-width) {
    background: transparent;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(90deg, $white 50%, $color-accent-light 50%);
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    position: relative;
    padding: 65px 90px 528px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 110px 80px 131px;

    &::before {
      content: "";
      left: 50%;
      top: -147px;
      position: absolute;
      background-image: url("../../images/index-background@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 720px;
      height: 694px;
      z-index: -2;
    }
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding: 14px;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
  }
}

.hero__image {
  display: block;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

