.hero {
  background-color: #4e4d52;
  background-image: linear-gradient(360deg, $white 37%, $color-accent-light 37%), url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: $white;
  margin-bottom: 20px;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(360deg, $white 37%, $color-accent-light 37%), url("../../images/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: transparent;
    color: $black;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 133px;

    &::before {
      content: "";
      left: 50%;
      top: 0;
      position: absolute;
      background-color: #4e4d52;
      background-image: linear-gradient(90deg, $white 0%, $color-accent-light 0%), url("../../images/index-background@1x.jpg");
      background-repeat: no-repeat;
      background-position: left top;
      width: calc(50vw - 9px);
      min-width: 720px;
      height: 694px;
      z-index: -2;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: linear-gradient(90deg, $white 0%, $color-accent-light 0%), url("../../images/index-background@2x.jpg");
      }
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    position: relative;
    padding: 0 120px 526px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 92px 190px 130px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 45%;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    max-width: 45%;
  }
}

.hero__button {
  width: 100%;
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}

.hero__image {
  display: block;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 52%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 51%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

