.main-header {
  &--index {
    @media (min-width: $desktop-width) {
      background: linear-gradient(90deg, $white 50%, $color-accent-light 50%);
    }
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 30px;
  }
}

.main-header__first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 13px;
    padding-bottom: 0;
  }
}

.main-header__logo {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

/*
.main-header__logo-image {
}

.main-header__logo-text {

}

.main-header__nav {

}
*/
