.main-header {
  position: relative;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 13px;
  }
}

.main-header__first-part {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 13px;
    padding-bottom: 0;
  }
}

.main-header__logo {
  &:first-child {
    margin-right: 56px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin: 0;
    }
  }
}

.main-header__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__burger {
  margin-left: auto;
}
