.main-footer {
  background-color: $color-bg;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  border-top: 1px solid #d9d9d9;

  &:first-child {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    width: fit-content;
    text-align: left;
    max-width: 30%;
    min-width: 20%;
    border: none;
    padding: 0;
  }
}

.main-footer__logo {
  &:hover {
    opacity: 80%;
  }

  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
