.process {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.process__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.process__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 59px;
    counter-reset: process-list;
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 77px;
  }
}

.process__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px 35px;
    padding-top: 40px;
    min-height: 280px;
    position: relative;
    list-style-type: none;

    &::after {
      counter-increment: process-list;
      content: counter(process-list);
      position: absolute;
      align-self: end;
      font-size: 280px;
      line-height: 280px;
      grid-column: 2/3;
      grid-row: 1/3;
      color: $color-bg;
      z-index: -1;
    }
  }
}

.process__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: $color-accent;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.process__item-text {
  margin: 0;
  color: $color-text;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    align-self: start;
    max-width: 80%;
  }

  @media (min-width: $desktop-width) {
    max-width: 90%;
  }
}
