.process {

}

.process__wrapper {

}

.process__title {
  font-size: 36px;
  line-height: 40px;
}

.process__list {

}

.process__item {
  color:  #444444;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
}

.process__item--first {

}

.process__item--second {

}

.process__item--third {

}

.process__item--fourth {

}

