/*.process {

}

.process__wrapper container {

}*/

.process__title {
  font-size: 36px;
  line-height: 40px;
}

.process__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 137px 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 77px;
  }
}

.process__item {
  &:nth-child(1) {
    .process__item-icon {
      background-image: url("../../images/icons/stack.svg#icon_leaf");
    }
  }

  &:nth-child(2) {
    .process__item-icon {
      background-image: url("../../images/icons/stack.svg#icon_consistency");
    }
  }

  &:nth-child(3) {
    .process__item-icon {
      background-image: url("../../images/icons/stack.svg#icon_eat");
    }
  }

  &:nth-child(4) {
    .process__item-icon {
      background-image: url("../../images/icons/stack.svg#icon_clock");
    }
  }
}

.process__item-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-color: $color-accent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.process__item-text {
  color: #444444;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
}
