.products-add {

}

.products-add__wrapper {

}

.products-add__title {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.products-add__block {

}

.products-add__list {

}

.products-add__item {

}

.products-add__bonus {
  background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
}

.products-add__bonus-despription {
  text-align: center;
  font-family: $secondary-font;
  line-height: 20px;
}
