.product-selection {

}

.product-selection__wrapper {

}

.product-selection__title {
  font-size: 36px;
  line-height: 36px;
}

.product-selection__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-selection__form {

}
