.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 24px;
}

.social__icon {
  color: $dark-grey;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: rgba($color-accent, 0.3);
  }
}
