.target {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.target__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.target__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 23px 20px;
  align-items: center;
  background-color: $color-bg;
  padding: 24px 20px 21px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr min-content;
    gap: 24px 56px;
    padding: 77px 63px 56px 53px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr;
    gap: 33px 62px;
    padding: 50px 52px 55px;
  }
}

.target__icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $color-accent;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    grid-column: -1/-2;
    grid-row: 1/4;
    margin-top: -8px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0;
  }
}

.target__icon-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    &--catslim {
      top: 43%;
      width: 140px;
      height: 194px;
    }

    &--catpro {
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catslim {
      top: 40%;
      width: 70px;
      height: 97px;
    }

    &--catpro {
      width: 134px;
      height: 56px;
    }
  }
}

.target__item-title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.target__item-description {
  margin: 0;
  font-family: $secondary-font;
  color: $color-text;
  grid-column: -1/1;
  position: relative;

  @media (max-width: calc($tablet-width - 1px)) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -23px;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    //padding-top: 13px;
    grid-column: -1/1;
  }
}

.target__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  grid-column: -1/1;
  width: fit-content;
  max-width: 85%;
  margin-top: 19px;
  position: relative;

  &::after {
    content: "";
    top: 50%;
    right: -47px;
    transform: translateY(-50%);
    position: absolute;
    background-image: url("../../images/icons/stack.svg#icon_arrow");
    background-repeat: no-repeat;
    background-position: -8px center;
    width: 32px;
    height: 12px;
    transition: background-position 0.3s ease-in-out;
  }

  &:hover::after {
    background-position: 0;
    transition: background-position 0.3s ease-in-out;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 28px;
    grid-column: 1/2;

    &::after {
      right: -57px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-top: 0;
    grid-column: -1/1;
  }
}
